@import url(./vendor/fonts/fonts.css);

.page {
  margin: 0;
  padding: 0;
  font-family: "Inter", Helvetica, sans-serif;
}

.page__section {
  margin: 0 auto;
}

.cover {
  color: #fff;
  max-width: 1184px;
}

.cover__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  background-image: url(./images/background.png);
  background-size: cover;
  background-position: center center;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
  min-height: 200px;
}

.cover__link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__link:hover::after {
  opacity: 0.8;
}

.cover__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 14px;
  z-index: 1;
  position: relative;
}

.cover__list:last-child {
  display: none;
}

.cover__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  margin: 0 0 16px;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .cover__link {
    padding-top: 115px;
    padding-left: 90px;
    min-height: 480px;
  }

  .cover__title {
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 25px;
  }

  .cover__list {
    font-size: 18px;
    line-height: 22px;
  }
}


@media (min-width: 1024px) {
  .cover__link {
    padding-top: 196px;
    min-height: 640px;
  }

  .cover__title {
    margin-bottom: 34px;
    max-width: 640px;
  }
}

@media (min-width: 1280px) {
  .cover__link {
    padding-top: 214px;
    min-height: 740px;
  }

  .cover__title {
    margin-bottom: 32px;
  }

  .cover__list {
    margin-bottom: 16px;
  }

  .cover__list:last-child {
    display: block;
    margin-bottom: 0;
  }
}
