.player {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
  margin-left: 0;
}


.player_running {
  margin-left: calc(100% + 5px);
  transition: margin-left .3s;
}

.race {
  width: 800px;
  position: relative;
  border-right: 5px solid red;
  height: 200px;
}